h3{
    font-size: 50px;
    font-family: Arial;
    text-align: left;
    color: #ffd700;
    font-style: italic;
}
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
* {
    box-sizing: border-box;
}

.bg-img {
    background-image: url(/image.jpeg/gh-flag.jpeg);

    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    position: relative;
}

.container {
    position: absolute;
    text-align: left;
    color: black
}
.jumbotron {
    background-color: #e3eafa;
   padding: 0;
   margin:0%;
   border-radius: 0px;
   float: right;
}


.column {
    float: none;
    padding-top: 5%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
h2{
    font-style: italic;
    color: rgb(0, 217, 255);
}   
 


p{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    
}
